.venv 
.venv/
__pycache__/
*.pyc
.env
.env.*

test.py
test1.py
test2.py
data.*
logs/
*.log
.DS_Store
output.*
test0.py
venv
venv
all.*
.tmp.*

test0.py
test1.py
test2.py
test3.py
*.png
test4.py
test_visualize.py
data1.csv 
checkpoints/

*.zip
*.csv

results
results/

*.pth
*.h5